$DEPARTAMENT-CARD-WIDTH: 326px;
$DEPARTAMENT-CARD-HEIGHT: 184px;

$COLOR-GENERAL-BRAND: #F15929;
$COLOR-GENERAL-CONTRAST-DARK: #212121;
$COLOR-GENERAL-CONTRAST-LIGHT: #FFFFFF;
$COLOR-GENERAL-SECONDARY: #8A8A8E;
$COLOR-GENERAL-SECONDARY-HOVER: #F3F3F3;
$COLOR-GENERAL-BACKGROUND: #FDFDFD;

$COLOR-SECONDARY-BRAND: #FFF0D9;
$COLOR-SECONDARY-BRAND-HOVER: #f6deba;

$COLOR-MINOR-INFO-SECONDARY: #EEF2FA;

$BREAKPOINT-700: 700px;
