@import '../../../global-styles/variables';

.btn-header {
  border-radius: 12px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding: 8px 14px;
  background-color: $COLOR-MINOR-INFO-SECONDARY;
  color: $COLOR-GENERAL-CONTRAST-DARK;

  &:hover {
    cursor: pointer;
  }
}

.active {
  background-color: $COLOR-GENERAL-BRAND;
  color: $COLOR-GENERAL-CONTRAST-LIGHT;
}